aenum~=3.1.11
aiohttp~=3.8.3
aiomysql~=0.1.1
aioredis~=2.0.1
AlbertUnruhUtils.py~=2.3.0
attrs~=22.2.0
cryptography~=39.0.0
#NAFF[voice,speedup]~=1.12.0
git+https://github.com/NAFTeam/NAFF.git@dev#egg=NAFF[voice,speedup,jurigged]
orjson~=3.8.5
#python-datetimeparser==0.4.rc  # fix version since 0.5(rc) might be completely breaking
git+https://github.com/aridevelopment-de/datetimeparser.git@dev#egg=python-datetimeparser
python-dotenv~=1.0.0
PyYAML~=6.0
SQLAlchemy~=1.4.46
