aenum~=3.1.11
aiomysql~=0.1.1
aioredis~=2.0.1
AlbertUnruhUtils.py~=2.3.0
cryptography~=38.0.3
#NAFF[voice,speedup]~=1.12.0
git+https://github.com/NAFTeam/NAFF.git@dev#egg=NAFF[voice,speedup]
#python-datetimeparser==0.4.rc  # fix version since 0.5(rc) might be completely breaking
git+https://github.com/aridevelopment-de/datetimeparser.git@dev#egg=python-datetimeparser
python-dotenv~=0.21.0
PyYAML~=6.0
SQLAlchemy~=1.4.45
